* {
  box-sizing: border-box;
}

body {
  font-family: 標楷體 , Arial;
  padding: 10px;
  background: #f1f1f1;
}


.header {
  padding: 30px;
  text-align: center;
  background-image: url(https://raw.githubusercontent.com/kun68/wp108b/master/kunWeb/IMG_5282.jpg); /*增加背景圖*/
  background-size: cover;  /*使背景覆蓋於header中*/
  background-position-y: 24%;  /*調整背景位置*/
  font-family: 華康仿宋體W2 , Bahnschrift;  /*調整字體*/
  color: rgba(252, 255, 65, 0.89);
  font-size: 25px;}


  .topnav {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.747);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px ;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 25%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 75%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: rgb(131, 127, 127);
  margin-top: 20px; 
  font-family: 華康仿宋體W2 , Bahnschrift;
  color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
