* {
    box-sizing: border-box;
  }
  body {
    font-family: 標楷體 , Arial;
    padding: 10px;
    background: #91c7e0;
    text-align: center;}
  
    .header {
    padding: 30px;
    text-align: center;
    background-image: url(https://raw.githubusercontent.com/kun68/wp108b/master/kunWeb/IMG_7316.JPG); /*增加背景圖*/
    background-size: cover;  /*使背景覆蓋於header中*/
    background-position-y: 25%;  /*調整背景位置*/
    font-family: 華康仿宋體W2 , Bahnschrift;  /*調整字體*/
    color: rgb(255, 255, 255);
    font-size: 25px;}
    
   .topnav {
    overflow: hidden;
    background-color: rgb(35, 120, 160);
  }
  
    
  .topnav {
    overflow: hidden;
    background-color: rgb(37, 129, 165);
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px ;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgba(243, 51, 51, 0.733);
  }
  
  .container {
    position: relative;
    width: auto;
    padding:2%;
    float: left;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 100%;
    padding: 16px 32px;
  }
  
  
  @media only screen and (min-width: 1024px) {
    .responsive {
      width: 32%;
      margin: 6px 0;
      padding:2%;
      float: left;
    }
  }
  
  @media only screen and (min-width: 650px) and (max-width: 1023px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
      float: left;
    }
  }
  
  @media only screen and (min-width: 500px) and(max-width: 649px)  {
    .responsive {
      width: 100%;
    }
  }
  
  @media only screen and(max-width: 499px) {
    .responsive {
      width: 100%;
    }
  }
  